@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

html|canvas#screen {
  margin-top: 12px;
  margin-bottom: 37px;
  margin-inline-start: 11px;
  margin-inline-end: 11px;
}

#monitor {
  list-style-image: url("chrome://browser/skin/monitor.png");
}

#monitor[aspectratio="16:10"] {
  list-style-image: url("chrome://browser/skin/monitor_16-10.png");
}
