/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menu/menuitem ::::: */

menu,
menuitem,
menucaption,
.splitmenu-menuitem {
  -moz-box-align: center;
  color: #000000;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[disabled="true"],
menuitem[disabled="true"],
.splitmenu-menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"],
.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"] {
  color: #8C99AB;
}

menuitem.spell-suggestion {
  font-weight: bold;
}

/* ..... internal content .... */

.menu-text, 
.menu-iconic-left,
.menu-iconic-text {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 2px !important;
  color: inherit;
}

.menu-iconic-left {
  min-width: 16px;
  min-height: 16px;
}

.menu-iconic-icon {
  width: 16px;
  height: 16px;
  list-style-image: inherit;
}

.menu-text {
  margin-inline-start: 18px !important;
  font-weight: inherit;
}

menucaption > .menu-text,
menucaption > .menu-iconic-text {
  font-weight: bold;
  padding-inline-start: 0 !important;
}

.menu-description {
  font-style: italic;
  color: #8C99AB;
  margin-inline-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-inline-start: 7px !important;
  margin-inline-end: 2px !important;
  padding-inline-end: 14px;
  color: inherit;
}

/* ..... menu arrow box ..... */

.menu-right {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: 6px;
  margin-inline-end: 0px;
  width: 8px;
  list-style-image: url("chrome://global/skin/menu/menu-arrow.gif");
  -moz-image-region: rect(0px, 4px, 7px, 0px);
}

.menu-right[_moz-menuactive="true"] {
  -moz-image-region: rect(0px, 8px, 7px, 4px);
}

.menu-right[disabled="true"] {
  -moz-image-region: rect(0px, 12px, 7px, 8px) !important;
}

/* ::::: menu/menuitems in menubar ::::: */

menubar > menu {
  border: 1px solid transparent;
  padding: 1px 4px 2px;
  margin: 1px 0px;
}

menubar > menu:not([open="true"]):not([disabled="true"]):hover,
menubar > menu[_moz-menuactive="true"]:not([disabled="true"]) {
  border: 1px outset rgb(221, 227, 235);
}

menubar > menu[_moz-menuactive="true"][open="true"] {
  border-style: inset;
}

/* ::::: lightweight themes ::::: */

menubar > menu:-moz-lwtheme {
  border-style: solid !important;
  border-color: transparent !important;
}

menubar > menu:-moz-lwtheme:not([disabled="true"]) {
  color: inherit !important;
}

menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(66, 79, 99);
  text-shadow: none;
}

menubar > menu:-moz-window-inactive {
  color: ThreeDShadow;
}

/* ..... internal content .... */

.menubar-left {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 2px;
  color: inherit;
}

.menubar-text {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 2px !important;
  color: inherit;
}

/* ::::: menu/menuitems in popups ::::: */

popup > menu,
popup > menucaption,
popup > menuitem,
menupopup > menu,
menupopup > menucaption,
menupopup > menuitem {
  max-width: 38em;
  padding: 2px;
}

popup > menu[_moz-menuactive="true"],
popup > menuitem[_moz-menuactive="true"],
menupopup > menu[_moz-menuactive="true"],
menupopup > menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"],
.splitmenu-menu[_moz-menuactive="true"] {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 79, 99);
}

/* ::::: menu/menuitems in menulist popups ::::: */

menulist > menupopup > menuitem,
menulist > menupopup > menucaption,
menulist > menupopup > menu {
  max-width: none;
  font: message-box;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-end: 26px;
}

menulist > menupopup > menuitem[_moz-menuactive="true"],
menulist > menupopup > menu[_moz-menuactive="true"] {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 79, 99);
}

menulist > menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menucaption > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  display: none;
  padding-top: 0px;
}

menulist > menupopup > menuitem > label,
menulist > menupopup > menucaption > label,
menulist > menupopup > menu > label {
  padding-top: 0px;
  padding-bottom: 0px;
}

menulist:-moz-focusring > menupopup > menuitem[_moz-menuactive="true"] {
  border: 1px dotted #F5DB95;
}

menulist > menupopup > menuitem[_moz-menuactive="true"][disabled="true"] {
  color: rgb(140, 153, 171);
}

menulist > menupopup > menuitem:not(.menuitem-iconic) > .menu-iconic-text {
  margin: 0 !important;
}
    
/* ..... selected state ..... */

menulist > menupopup > menuitem[selected="true"] {
  list-style-image: url("chrome://global/skin/menu/menu-check.gif");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
  
menulist > menupopup > menuitem[_moz-menuactive="true"][selected="true"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

/* ::::: checkbox menuitem ::::: */

menuitem[checked="true"] {
  list-style-image: url("chrome://global/skin/menu/menu-check.gif");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

menuitem[checked="true"][_moz-menuactive="true"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

menuitem[checked="true"][disabled="true"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}

/* ::::: radio menuitem ::::: */

menuitem[checked="true"][type="radio"] {
  list-style-image: url("chrome://global/skin/menu/menu-radio.gif");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

menuitem[checked="true"][type="radio"][_moz-menuactive="true"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

menuitem[checked="true"][type="radio"][disabled="true"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}

/* ::::: menuseparator ::::: */

menuseparator {
  margin: 2px 3px;
  border-top: 1px solid #A5ABC0;
  border-bottom: 1px solid #EEF1F7;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator {
  margin: 2px 0;
  border-bottom: none;
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}
